{% extends 'base.html.twig' %}
{% block body %}
    <p>dashboard</p>

    {% if app.user and app.user.image is not null %}
        {% set image_source = asset('/uploads/' ~ app.user.image.name) %}
    {% else %}
        {% set image_source = asset('/img/unknow.jpg') %}
    {% endif %}

    <div class="row">
        <div class="col-4">
            <img src="{{ image_source }}" alt="Image" style="width:100px; height:100px; border-radius: 50%;">
        </div>
        <div class="col-8">
            {{ dump(app.user) }}
        </div>
    </div>
    <div class="debug">
        <h1>DELETE ACCOUNT</h1>
        {{ include('security/_delete_form.html.twig') }}
    </div>

    <div class="debug">
        <h1>ADD/CHANGE IMAGE</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {# {% for image in trick.images %} #}
        {# <div style="border: solid  #0a0a0a"> #}
        {# <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="600px"> #}
        {# <a href="{{ path('tricks_image_delete', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Delete</a> #}
        {# </div> #}
        {# {% endfor %} #}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="debug">
        <h1>CHANGE PASSWORD</h1>
        {{ form_start(passwordForm) }}
        {{ form_widget(passwordForm) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(passwordForm) }}
    </div>
{% endblock %}
