{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% set hero_title = "Connexion" %}
    {% set hero_subtitle = "SubTitle" %}
    {{ include('component/_hero_title.html.twig') }}

    <div class="container">

        <div class="box mt-5">
            <article class="media">

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input value="{{ last_username }}" name="username" id="inputUsername" class="input is-primary" type="text" placeholder="e.g Alex Smith" required autofocus>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input name="password" id="inputPassword" class="input is-primary" type="password" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="button is-primary" type="submit">
                        Sign in
                    </button>
                </form>

            </article>
        </div>
    </div>
{% endblock %}
