{# <div class="block"> #}
{# <div class="custom-hero"> #}
{# <img src="{{ asset('/img/home-bg2.jpg') }}" alt="" class="banner-image"> #}
{# <div class="banner-content"> #}
{# <h1 class="title is-1"></h1> #}
{# </div> #}
{# </div> #}
{# </div> #}

{# <img src="{{ img_source }}" alt="Placeholder image"> #}
 {% set img_source = trick.images[0] is defined ? asset('/uploads/' ~ trick.images[0].name) : asset('/img/home-bg2.jpg') %}


<section class="hero is-medium custom-hero" style="background-image: url({{ img_source }})">
    <div class="hero-body">
        <div class="container">
            <h1 class="title my-title">{{ hero_title }}</h1>
            <h2 class="subtitle">{{ hero_subtitle }}</h2>
        </div>
    </div>

</section>
{# todo : ce css est identique avec hero_homepage , voir pour le mettre en .min #}
<style>
    .custom-hero {
        /*opacity: 0.5;*/
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }

    .my-title {
        opacity: initial;
    }
</style>
