{% if total > 0 %}
    <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if  page > 1 %}
                <a href="?page={{ page - 1 }}" class="pagination-previous">Précédent</a>
            {% else %}
                <a class="pagination-previous" disabled>Précédent</a>
            {% endif %}

            {% if  (total / limit)|round(0, 'ceil') == page %}
                <a class="pagination-next" disabled>Suivant</a>
            {% else %}
                <a href="?page={{ page + 1 }}" class="pagination-next">Suivant</a>
            {% endif %}

            <ul class="pagination-list">
                {% for item in 1..((total / limit)|round(0, 'ceil')) %}
                    <li><a href="?page={{ item }}" class="pagination-link {{ item == page ? 'is-current' : '' }}">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}

{# thx to https://ourcodeworld.com/articles/read/593/using-a-bootstrap-4-pagination-control-layout-with-knppaginatorbundle-in-symfony-3 for this template example #}