<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <script src="https://kit.fontawesome.com/ddc5167d15.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        {# {{ encore_entry_link_tags('app') }} #}
        {# {{ encore_entry_link_tags('Bulma') }} #}
        <link rel="stylesheet" href="{{ asset('/css/custom-css.css') }}" crossorigin="anonymous">
        {# <link rel="stylesheet" href="{{ asset('/css/Bulma-app-test.css') }}" crossorigin="anonymous"> #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/bulma-spacing">
    {% endblock %}
</head>
<body>
{% block navbar %}
    {{ include('component/_navbar.html.twig') }}
{% endblock %}

{% block body %}{% endblock %}
{% block footer %}
    {{ include('component/_footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
    <script>
        $(document).ready()
        {
            var $burger = $('#burger'),
                $navbar = $('#navbarBasicExample');

            $($burger).click(function () {
                if ($navbar.attr("class") === 'navbar-menu') {
                    $($navbar).addClass('is-active');
                } else {
                    $($navbar).removeClass('is-active');
                }
                console.log($navbar.attr("class"));
            })
        }
    </script>

{% endblock %}
</body>
</html>
