{{ form_start(form) }}
<div class="field">
    <label class="label">Titre</label>
    <div class="control">
        {{ form_widget(form.title) }}
    </div>
</div>

<div class="field">
    <label class="label">Description</label>
    <div class="control">
        {{ form_widget(form.description) }}
    </div>
</div>
<label class="label">Images</label>
<div class="file">

    <label class="file-label">
        {{ form_widget(form.images) }}
        {# <input class="file-input" type="file" name="resume"> #}
        <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choisissez une ou plusieures images
      </span>
    </span>
    </label>
</div>
<label class="label mt-3">Vidéos</label>

{# ['class' => 'input is-primary', 'placeholder' => 'Alex Smith']] #}
<div class="input_fields_wrap control"> {# input_fields_wrap/add_field_button for jquery #}
    <div>
        <input class="input is-primary" type="text" id="form_videos_0" name="tricks[videos][0]"/>
    </div>
    <button class="add_field_button button is-primary mt-3 mb-3" type="submit">Ajouter plus de vidéos</button>
</div>
<button class="button is-primary mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}