{% extends 'base.html.twig' %}

{% block title %}Tricks index{% endblock %}

{% block body %}


    {% set hero_title = "Dashboard" %}
    {% set hero_subtitle = "" %}
    {{ include('component/_hero_homepage.html.twig') }}

    <div class="columns is-desktop mt-6 ml-6 mr-6 is-multiline" id="top_tricks">
        {% for trick in tricks %}
            <div class="column is-one-quarter">
                {% set img_source = trick.images[0] is defined ? asset('/uploads/' ~ trick.images[0].name) : asset('/img/home-bg2.jpg') %}

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-fullwidth ">
                            <img src="{{ img_source }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4"><a href="{{ path('tricks_show', {'id' : trick.id,'slug' : trick.slug}) }}">{{ trick.title }}</a>
                                </p>
                                <p class="subtitle is-6">par {{ trick.author.username }}</p>
                                {% if trick.images[0] is defined %}
                                    {% set image_badge = trick.images|length > 1 ? trick.images|length ~ ' images' : trick.images|length ~ ' image' %}
                                    <span class="mr-3 tag is-info">{{ image_badge }}</span>
                                {% endif %}
                                {% if trick.video[0] is defined %}
                                    {% set video_badge = trick.video|length > 1 ? trick.video|length ~ ' vidéos' : trick.video|length ~ ' vidéo' %}
                                    <span class="mr-3 tag is-primary">{{ video_badge }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="content">
                            <p class="block">
                                {{ trick.description|u.truncate(50, '...') }}
                            </p>

                            <p class="block">
                                {{ trick.createdAt|format_date }}
                            </p>

                            <p class="block">
                                {# todo : only if author || admin + link to delete #}
                                <a href="{{ path('tricks_edit', {'id': trick.id}) }}"><i class="fas fa-edit is-primary"></i></a>
                                <i class="fas fa-trash-alt"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if  page > 1 %}
                <a href="?page={{ page - 1 }}" class="pagination-previous">Précédent</a>
            {% else %}
                <a class="pagination-previous" disabled>Précédent</a>
            {% endif %}

            {% if  (total / limit)|round(0, 'ceil') == page %}
                <a class="pagination-next" disabled>Suivant</a>
            {% else %}
                <a href="?page={{ page + 1 }}" class="pagination-next">Suivant</a>
            {% endif %}

            <ul class="pagination-list">
                {% for item in 1..((total / limit)|round(0, 'ceil')) %}
                    <li><a href="?page={{ item }}" class="pagination-link {{ item == page ? 'is-current' : '' }}">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>

{% endblock %}
